{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Home</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slogan</th>
                <td>{{ entity.slogan }}</td>
            </tr>
            <tr>
                <th>Help</th>
                <td>{{ entity.help }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nomsociete</th>
                <td>{{ entity.nomSociete }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ entity.presentation }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('home') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('home_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
