{% extends 'MainBundle:Back:baseBack.html.twig' %}
{% form_theme delete_form 'MainBundle:Form:fieldsDelete.html.twig' %}

{% block body -%}
<div style="width:80%;margin:auto;padding-top:60px">
    <h1>Home</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slogan</th>
                <td>{{ entity.slogan }}</td>
            </tr>
            <tr>
                <th>Help</th>
                <td>{{ entity.help }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nomsociete</th>
                <td>{{ entity.nomSociete }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ entity.presentation }}</td>
            </tr>
        </tbody>
    </table><br>
    {{ form(delete_form) }}
    <br>

        <ul class="record_actions">
    <li>
        <a href="{{ path('homeAdmin') }}">
           Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('home_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
</ul>
    </div>
{% endblock %}
