{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block content %}
    <section class="page-evenement">
        {{ dump(events) }}
        <div class='header-page-evenement'>
            <div class='header-page-evenement-container'>
                <span class='type-evenement'>VENTE EN COURS <i class="icon fa fa-sort-desc"></i></span> 
                <h1><span class='evenement'>du mardi 09/12 7h au samedi 13/12 8h <i class="icon fa fa-sort-desc"></i></span></h1> <!-- variable date de l'evenement -->
                <div class='btn btn-inscription'>Inscription</div>
            </div>
        </div>
        <div class="slider-marque">
            <i class="btn-slider-left fa fa-chevron-left"></i>
            <i class="btn-slider-right fa fa-chevron-right"></i>
            <div class="container-chevron">
                <div class="container-marque">
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/apple-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'>Alerte</div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/samsung-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'>Alerte</div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/sony-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'>Alerte</div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/samsung-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'>Alerte</div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/sony-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'>Alerte</div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='page-evenement-footer'>
            <img src="{{asset('bundles/main/images/evenement/les-logos.png')}}" class="img-responsive">
        </div>
    </section>
{% endblock %}
