{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block title %}ATTRACTIF{% endblock %}

{% block content %}

{#{dump(current.produits)}#}
    <section class="page-evenement">            
        <div class='header-page-evenement'>
            <div class='header-page-evenement-container'>
                <ul class='type-evenement'>
                    <li><a href='#'>{% if app.request.attributes.get('_route') == 'home' %} VENTE EN COURS {% elseif app.request.attributes.get('_route') == 'todo' %}VENTE A VENIR{% else %}VENTE TERMINEE{% endif %}<i class="type-eve-icon fa fa-sort-desc"></i></a></li>
                    <li><a href='{{ url('home')}}'>VENTE EN COURS</a></li>
                    <li><a href='{{ url('todo')}}'>VENTE A VENIR</a></li>
                    <li><a href='{{ url('done')}}'>VENTE TERMINEE</a></li>
                </ul>
                <ul class='evenement'>    
                    <li><a href='#'>{{events[0].dateDeb|date("\\d\\u d/m - h\\h \\a\\u d/m - h\\h", "Europe/Paris")}} </a><i class="icon-date fa fa-sort-desc"></i></li>
                    {% for event in events %} 
                    <li><a href='{{ path(app.request.attributes.get('_route'), { 'id': event.id }) }}'>{{event.dateDeb|date("\\d\\u d/m - h\\h \\a\\u d/m - h\\h", "Europe/Paris")}} </a></li> 
                    {% endfor %}
                </ul>
                <div class='btn btn-inscription'><a href="{{ path('subscribe', { 'id': current })}}">Inscription</a></div>

            </div>
        </div>
        <div class="slider-marque">
            <i class="btn-slider-left fa fa-chevron-left"></i>
            <i class="btn-slider-right fa fa-chevron-right"></i>
            <div class="container-chevron">
                <div class="container-marque">
                    {% for product in events[0] %} 
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/apple-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'><a href="{{ path('addAlerts', { 'id': 1 })}}" >Alerte</a></div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    {% endfor %} 
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/samsung-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'><a href="{{ path('addAlerts', { 'id': 2 })}}" >Alerte</a></div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/sony-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'><a href="{{ path('addAlerts', { 'id': 3 })}}" >Alerte</a></div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/samsung-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'><a href="{{ path('addAlerts', { 'id': 4 })}}" >Alerte</a></div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                    <div class="marque">
                        <div class="header-marque">
                            <img src="{{asset('bundles/main/images/evenement/sony-contenu.jpg')}}" class="img-responsive">
                            <img class="logo-entreprise">
                        </div>
                        <div class='btn btn-alerte'><a href="{{ path('addAlerts', { 'id': 5 })}}" >Alerte</a></div>
                        <div class="description">
                            Apple est créée le 1er avril 1976 à Los Altos,<br>
                            puis constituée sous forme de société le 3 janvier 1977.<br>
                            Parmi les produits phares qu'a connu Apple depuis sa création<br>
                            on trouve : l'Apple II, le Macintosh, l'iPod, l'iPhone et l'iPad.<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='page-evenement-footer'>
            <img src="{{asset('bundles/main/images/evenement/les-logos.png')}}" class="img-responsive">
        </div>
    </section>
{% endblock %}
