<header class="header">
    <div class="logo">
        <a href="{{ url('home') }}" />
            <img src="{{asset('bundles/main/images/logo.png')}}" class="img-responsive" />
        </a>
    </div>
    <nav class="navbar">
        <ul>    <!-- Petit tricks pour l'espace insécable entre les LI --> 
            <li><a href="{{path('about')}}">Qui sommes nous?</a></li><!--
         --><li><a href="{{path('meetings')}}">Mes rendes-vous</a></li><!--
         --><li><a href="{{path('alerts')}}">Mes alertes</a></li><!--
         --><li><a href="{{path('account')}}">Mon compte</a></li><!--
         --><li><a href="{{path('contact')}}">Aide & Contact</a></li>
        </ul>
    </nav>
</header>    