<nav class="navbar">
    <ul>
        <li><a href="{{path('about')}}">Qui sommes nous?</a></li><li><a href="{{path('meetings')}}">Mes rendes-vous</a></li><li><a href="{{path('alerts')}}">Mes alertes</a></li><li><a href="{{path('account')}}">Mon compte</a></li><li><a href="{{path('contact')}}">Aide & Contact</a></li>
    </ul>
</nav>