{% extends 'MainBundle:Front:baseFront.html.twig' %}

{% block title %}ATTRACTIF{% endblock %}

{% block content %}
<section>
    {{ infos.slogan }}<br />
    {{ infos.help }}<br />
    {{ infos.email }}<br />
    {{ infos.nomSociete }}<br />
    {{ infos.telephone }}<br />
    {{ infos.presentation }}<br />
    {{ infos.adresse }}<br />
</section>    
{% endblock %}
