{% extends 'MainBundle:Back:baseBack.html.twig' %}

{% block body -%}
<div class="page" style="width:80%;margin:auto">
    <h1 style="text-decoration: underline">Evenement list</h1><br>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Nbplace</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('evenement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{% if entity.dateDeb %}{{ entity.dateDeb|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateFin %}{{ entity.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nbPlace }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('evenement_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('evenement_edit', { 'id': entity.id }) }}">Editer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('evenement_new') }}">
                Créer un nouvel évènement
            </a>
        </li>
    </ul>
    <a href="{{ path('ADMIN') }}">
        Retour à l'accueil
    </a>
</div>
    {% endblock %}
