{% extends 'MainBundle:Back:baseBack.html.twig' %}
{% form_theme delete_form 'MainBundle:Form:fieldsDelete.html.twig' %}

{% block body -%}
<div class="page" style="width:40%;margin:auto">
    <h1>Evenement</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Datedeb</th>
                <td>{{ entity.dateDeb|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nbplace</th>
                <td>{{ entity.nbPlace }}</td>
            </tr>
        </tbody>
    </table>
    {{ form(delete_form) }}
    <br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evenement') }}">
            Retourner à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('evenement_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
</ul>
</div>
{% endblock %}
